* {
    font-family: "FiraCode Nerd Font";
    font-size: 16px;
    border: none;
    border-radius: 0;
}

window#waybar {
    background: #2d353b;
    color: #d3c6aa;
    border-bottom: 2px solid #3d484d;
}

#workspaces button {
    padding: 0 10px;
    color: #a7c080;
    font-weight: bold;
}

#workspaces button.active {
    color: #e69875;
    border-bottom: 2px solid #e69875
}

#window, #clock, #cpu, #memory, #battery, #pulseaudio, #language, #tray {
    padding: 0 20px;
}

#tray {
    padding: 0 20px;
}
