* {
    font-family: "FiraCode Nerd Font";
    font-size: 16px;
    border: none;
    border-radius: 0;
}

window#waybar {
    background: #1e1f28;
    color: #ffffff;
    border-bottom: 2px solid #223249;
}

#workspaces button {
    padding: 0 10px;
    color: #e6c384;
    font-weight: bold;
}

#workspaces button.active {
    color: #ffa066;
    border-bottom: 2px solid #ffa066
}

#window, #clock, #cpu, #memory, #pulseaudio, #language, #tray {
    padding: 0 20px;
}

#tray {
    padding: 0 20px;
}
